{% extends 'presentation/base.html' %}
{% block title %}À propos{% endblock %}

{% block content %}
<div class="text-center">
    <h2 class="text-primary mb-4">À propos de moi</h2>
    <p class="lead">Je suis un développeur passionné par la création de solutions web innovantes.</p>
    <p>Avec une expertise en Django, Python,Java et les technologies modernes, je crée des applications performantes et élégantes,des logiciels de gestions , des site E-commerces pour faliciter les ventes , publicité des articles etc.</p>
</div>
{% endblock %}
