{% extends 'presentation/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 600px;" data-aos="fade-up">
    <h2 class="text-center mb-4 text-primary animate__animated animate__fadeIn">Contactez-moi</h2>
    <form class="shadow p-4 rounded bg-light" data-aos="fade-up" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Nom</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Message</label>
            <textarea name="message" class="form-control" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Envoyer</button>
    </form>
</div>
{% endblock %}
