{% extends 'presentation/base.html' %}
{% block title %}Projets{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-primary mb-4 text-center">Mes Projets</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Projet 1</h5>
                    <p class="card-text">Description du projet 1.</p>
                    <p class="card-text">« Dans mon premier projet, j’ai conçu et développé un logiciel de gestion automatisée pour une agence de location de véhicules basée à Abidjan. ».</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Projet 2</h5>
                    <p class="card-text">Description du projet 2.</p>
                    <p class="card-text">« Mon deuxième projet est en cours de conception : il consiste à développer un site web permettant de faciliter la location et la réservation de véhicules pour une entreprise locale. »</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Projet 3</h5>
                    <p class="card-text">Description du projet 3.</p>
                    <p class="card-text">« Mon troisième projet portera sur la conception d’un site e-commerce destiné à un commerçant, afin de faciliter la vente de ses articles en ligne. Ce site comprendra plusieurs sections pour offrir une expérience utilisateur optimale. »</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
