{% extends 'presentation/base.html' %}
{% block title %}Compétences{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-primary mb-4 text-center">Mes Compétences</h2>
    <ul class="list-group">
        <li class="list-group-item">Python / Django</li>
        <li class="list-group-item">HTML, CSS, Bootstrap</li>
        <li class="list-group-item">JavaScript / jQuery</li>
        <li class="list-group-item">Bases de données (PostgreSQL, MySQL)</li>
        <li class="list-group-item">Java , PHP</li>
    </ul>
</div>
{% endblock %}
